
.movingGif{
    width: 200px;
    height: auto;
    position: relative;
    animation-name: slidein;
    animation-duration: 7s, 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes slidein {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 200px); /* Adjust based on the width of your element */
    }
}
.image_container{
    display: flex;
    flex-direction: column;
   
}
    /* animation: moveLeftRight 4s linear infinite;
}
    @keyframes moveLeftRight {
        0%, 100% {
            left: 0;
        }
        50%{
            left: calc(100%-50px)}

